[submodule "themes/yinyang"]
	path = themes/yinyang
	url = git@github.com:joway/hugo-theme-yinyang.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
